```
# Unity-specific ignores
Library/
Temp/
Obj/
Build/
Builds/
*.unityproj
*.sln
*.csproj
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.meta
*.cache
*.log
csc.rsp
.mdb
.o
.suo
*.unitypackage
[成果物名]*
[成果物名].unitypackage
```